.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: .5px solid white;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: .25s;
}



.acordeon .content{
    display: none;
}

.acordeon .trigger{
    border: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    font-weight: 700;
}

.acordeon .trigger::after{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/arrow.svg');
    color: white;
    transition: .25s ;

}



.acordeon .trigger:hover{
    cursor: pointer;
}

.acordeon:hover{
    background-color: #0003a7;
    border-color: #0003a7;
}

.acordeon.open{
    background-color: #0003a7;
    border-color: #0003a7;
}

.acordeon.open .trigger::after{
    transform: rotate(180deg);
}

.acordeon.open .content{
    display: block ;
}