.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
}

.skills li{
    list-style: none;
    padding: 1rem;
}

.skills h3{
    padding: 1rem;
}

.oskill {
    padding: 1rem;
    margin: 0;
}

.oskill li{
    margin: 1rem;
}